.size {
  width: 500px;
  height: 300px;
  padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    float: center
}

.h2 {
  text-align: left;
}

.boxp1 {
  border: 2px solid green;
  padding: 6px;

}

.boxp2 {

}

.mainbox {
  border: 4px blue;
}
