.background {
  background-color: black;
}


.size {
  width: 500px;
  height: 300px;
  border: 2px solid orange;
  float: left;
}

.h2 {
  text-align: center;
}

.boxp1 {
  padding-top: 50px;
  padding-right: 200px;
  padding-bottom: 50px;
  padding-left: 5px;
  text-align: left;
  float: left;
}

.ul {
  margin: 10px ;
  padding: 18px;
  float: right;
}
/*border: 2px solid white-->*/
